/res
/res_BOKU_server
/dat
/par
/acorn_poolseq_pipeline
/control_FDR
Rplot*
/baypass.log
/dag.png
/data
/logs
/results*
/Data
.snakemake/
.vscode/
*.Rproj
.Rproj.user
.Rhistory
poolfstat_subsample_test.R
poolfstat_baypass_0124
